{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Password change{% endblock %}

{% block content %}
	<h1>Password change</h1>
	<p>Veuillez entrer votre ancien mot de passe, pour des raisons de sécurité, puis entrez votre nouveau mot de passe deux fois afin que nous puissions vérifier que vous l'avez saisi correctement.</p>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<input type='submit' class="btn btn-success" value='Changer mon mot de passe'/>
	</form>
{% endblock %}